/* shared styles */
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Happy New Year section */
.header{
    background-image: url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 600px;
    width: 1320px;
    margin: 0 auto;
    margin-top: 50px;
    
}
.banner{
    color: white;
    text-align: center;
    background-color: #17161984;
    border-radius: 20px;
    height: 600px;
    width: 1320px;
}
.banner h4{
    padding-top: 200px;
    font-size: 25px;
    font-weight: 200;
}
.banner h1{
    font-size: 50px;
    font-weight: 700;
}

/* holiday-deals section */

.holiday-deals{
    margin-top: 100px;
    text-align: center;
}
.holiday-deals h1{
    color: #FF0000;
    font-size: 50px;
    font-weight: 900;
}
.holiday-deals h3{
    color: #FF0000;
    font-size: 20px;
    font-weight: 100;
}
.holiday-deals h2{
    color: black;
    font-size: 30px;
    font-weight: 600;
}

/* Welcome to midnight section */

.midnight-section{
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    height: 600px;
    width: 1320px;
    margin: 100px auto;
    color: aliceblue;
}
.midnight-all{
    background-color: #1716198d;
    border-radius: 20px;
    height: 600px;
    width: 1320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.midnight-description h1{
    font-size: 50px;
    font-weight: 700;
}

.btn-midnight{
    color: white;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 600;
}

/* best-gift-section */

.best-gift-section{
    height: 1100px;
    width: 1320px;
    margin: 0 auto;
}
.gift-part img{
    height: 424px;
    width: 430px;
}
.gift-part h3{
    font-size: 15px;
    font-weight: 500;
    color: #FF0000;
}
.gift-part h1{
    font-size: 30px;
    font-weight: 700;
}
.gift-part p{
    color: #474747;
}
.gift-part-img img:hover{
    border-radius: 20px;
    border: 5px solid rgba(40, 43, 43, 0.566);
    cursor: pointer;
}

/* subscribe-section */

.subscribe-section{
    background-color: #f1d1d1;
    height: 616px;
    width: 1320px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.Subscribe-details{
    padding-top: 150px;
    text-align: center;
}
.Subscribe-details h1{
    font-size: 30px;
    font-weight: 700;
}
.Subscribe-details p{
    color: #474747;
}

/* input field section */

.input-field{
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 50px;
    padding-left: 30px;
}
.btn-subscribe{
    position: relative;
    right: 100px;
    height: 52px;
    width: 100px;
    border: none;
    color: white;
    background-color: #FF0000;
    border-radius:0  50px 50px 0;
}


/* footer section */
.footer-section{
    background-color: black;
    height: 600px;
    width: 1500px;
}
.footer-description{
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 30px;
    color: white;
}
.footer-img{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.web{
    color: white;
    text-decoration: none;
}
.footer-last{
    padding-top: 30px;
    display: flex;
    color: white;
    justify-content: space-around;
}
.footer-section hr{
    margin: 30px;
    color: #474747;
}

/* best-offer-section */

.best-offer-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 460px;
    width: 1320px;
    margin: 0 auto;
}
.offer-comming{
    padding-right: 100px;
}
.offer-comming h4{
    color: red;
    font-size: 15px;
    font-weight: 500;
}
.offer-comming h1{
    font-size: 30px;
    font-weight: 700;
}

.offer-img img{
    margin-right: 250px;
    border-radius: 200px;
    border: 20px  solid red;
}
.offer-year h1{
    color: red;
    font-size: 30px;
    font-weight: 700;
}